<div id="wrapper">
  <h1 class="intro">THE #1 PLACE TO SEE WHERE GRUMPY CAT HAS BEEN</h1>
  <div class="buttons">
    <%= link_to 'HOW IT WORKS', '/about', class: 'btn btn-info btn-custom' %>
    <%= link_to 'SEE THE SIGHTINGS', sightings_path, class: 'btn btn-danger btn-custom' %>
  </div>
  <div class="buttons">
    <%= link_to 'REPORT A SIGHTING', new_sighting_path, class: 'btn btn-primary btn-custom btn-freaking-huge' %>
  </div>
</div>

<div id="how-it-works">
</div>
